.footer-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  margin-top: 60px;

  .footer-line {
    position: absolute;
    width: 100%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;

    &-1 {
      z-index: var(--footer-1);
      opacity: 0.5;
    }

    &-2 {
      z-index: var(--footer-2);
      opacity: 0.7;
    }

    &-3 {
      z-index: var(--footer-3);
    }

    .footer-wave {
      position: absolute;
      left: 0;
      width: 200%;
      height: 100%;
      background-repeat: repeat no-repeat;
      background-position: 0 bottom;
      transform-origin: center bottom;

      &-1 {
        -webkit-background-size: 50% 80px;
        background-size: 50% 80px;
        animation: footer-animate 120s linear infinite;
      }

      &-2 {
        -webkit-background-size: 50% 100px;
        background-size: 50% 100px;
        animation: footer-animate 24s linear infinite;
      }

      &-3 {
        -webkit-background-size: 50% 80px;
        background-size: 50% 80px;
        animation: footer-animate 36s linear infinite;
      }
    }
  }
}