.footer-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	overflow: hidden;
	pointer-events: none;


	.footer-line{
		position: absolute;
		width: 100%;
		overflow: hidden;
		height: 100%;
		//background-color: var(--bg-color);
		background: linear-gradient(45deg, var(--bg-color-3), var(--bg-color),var(--bg-color-2));
		background-size: 400% 400%;
		animation: gradient 120s ease infinite;
		height: 100vh;

		&-1{
			z-index: var(--footer-1);
			opacity: 0.5;
		}

		&-2{
			z-index: var(--footer-2);
			opacity: 0.7;
		}

		&-3{
			z-index: var(--footer-3);
		}
	}

	.footer-wave{
		position: absolute;
		left: 0;
		width: 200%;
		height: 100%;
		background-repeat: repeat no-repeat;
		background-position: 0 bottom;
		transform-origin: center bottom;

		&-1{
			-webkit-background-size: 50% 80px;
			background-size: 50% 80px;
		}

		&-2{
			-webkit-background-size: 50% 100px;
			background-size: 50% 100px;
			animation: footer-animate 24s linear infinite;
		}

		&-3{
			-webkit-background-size: 50% 80px;
			background-size: 50% 80px;
			animation: footer-animate 36s linear infinite;
		}
	}

}

@keyframes footer-animate {
	0% {
		transform: translateX(0) translateZ(0) scaleY(1);
	}
	50% {
		transform: translateX(-25%) translateZ(0) scaleY(0.5);
	}
	100% {
		transform: translateX(-50%) translateZ(0) scaleY(1);
	}
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}