@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid var(--w-color); /* Light grey */
  border-top: 10px solid transparent; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  color: var(--w-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  *{
    padding: 20px;
  }
}