@mixin max-width($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

.main-container-photo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  .photo-upload-icon {
    svg {
      width: 175px;
      height: 175px;
    }
  }
}

.photo-upload-container {
  min-width: 10%;
  background-color: var(--w-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  mix-blend-mode: screen;

  .photo-upload-icon {
    align-items: center;
    display: flex;
    margin: 10px 10px 0 10px;
    padding: 20px;

    &:hover {
      cursor: pointer;
      background-color: var(--selected-background);
      border-radius: 10px;
    }
  }

  .photo-upload-text {
    flex: 1;
    display: flex;
    align-items: center;
    min-height: 75px;
    max-width: 200px;
    padding: 0 30px;
    text-align: center;
  }
}

.prediction-container {
  border-radius: 18px;
  border: 8px solid var(--w-color);
  box-shadow: var(--box-shadow);
  background-color: var(--w-color);
  height: fit-content;
  align-items: center;
  justify-items: center;
}

.prediction-container {
  position: relative;
  border-radius: 18px;
  border: 8px solid var(--w-color);
  background-color: var(--b-color);
  height: fit-content;
  align-items: center;
  justify-items: center;
  box-shadow: var(--box-shadow);

  .map{
    height: 600px;
    width: 600px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    z-index: var(--map-container);
    display: block;
    background-color: var(--b-color);
  }

  #prediction {
    opacity: 1;
    mix-blend-mode: screen;
    position: relative;
    z-index: var(--map-mask);
    cursor: not-allowed;
  }

  #mask-image {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .photo-slider-container {
    background-color: var(--w-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    border-radius: 8px 8px 0 0 ;

    .custom-slider {
      z-index: var(--slider);
    }
  }
}

@include max-width(1550px) {
  .main-container-photo {
    flex-direction: column-reverse;

    .prediction-container {
      overflow: hidden;
      margin: 0 20px 40px 20px;

      .map {
        max-width: 100% !important;
        height: auto !important;
      }
    }

    .photo-upload-icon {
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }
}