@mixin max-width($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

.main-container-map {
  display: grid;
  grid-template-columns: 5fr 2fr 5fr;
  column-gap: 20px;
  row-gap: 40px;
  align-items: flex-end;
  margin: 0 20px 0 20px;

  .map-screenshot-button,
  .spinner-container {
    align-self: center;
    justify-self: center;
    width: 135px;
    height: 110px;
    margin: 0;
  }

  .map-container {
    border-radius: 18px;
    border: 8px solid var(--w-color);
    box-shadow: var(--box-shadow);
    background-color: var(--w-color);
    height: fit-content;
    width: max-content;
    align-items: center;
    justify-items: center;
    position: relative;

    .map {
      width: 600px;
      height: 600px;
      border-radius: 10px;
      overflow: hidden;
      z-index: var(--map-container);
      display: block;
      background-color: var(--b-color);
    }

    #prediction {
      opacity: 1;
      mix-blend-mode: screen;
      position: relative;
      z-index: var(--map-mask);
      cursor: not-allowed;
    }

    #mask-image {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .map-slider-container {
      background-color: var(--w-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 5px;
      border-radius: 0 0 8px 8px;
      margin: 0 10px;

      .custom-slider {
        z-index: var(--slider);
      }
    }
  }

  .places-autocomplete {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 15px 10px;

    .custom-search-container {
      display: flex;
      flex: 1;

      .custom-button {
        padding: 5px 5px;
        flex: 1;
        height: 2.5rem;

        &:hover {
          mix-blend-mode: normal;
          color: white;
          background-color: transparent;
        }

        &:hover::-webkit-input-placeholder {
          color: white;
        }
      }
    }

    #search-button {
      border-radius: 50%;
      margin-left: 10px;
      margin-right: 10px;
      height: 2.5rem;
      width: 2.5rem;
      padding: 0;

      &:hover {
        mix-blend-mode: normal;
        color: white;
        background-color: transparent;

        svg {
          filter: invert(100%);
        }
      }

      span {
        display: flex;
        align-items: center;
      }
    }
  }
}

@include max-width(1450px) {
  .main-container-map {
    .map-container {
      .map, #mask-image, #prediction {
        width: 500px;
        height: 500px;
      }
    }
  }
}

@include max-width(1320px) {
  .main-container-map {
    grid-template-columns: 1fr;

    .map-container {
      .map, #mask-image, #prediction {
        width: 500px;
        height: 500px;
      }
    }
  }
}

@include max-width(720px) {
  .main-container-map {
    grid-template-columns: 1fr;

    .map-container {
      .map, #mask-image, #prediction {
        width: 400px;
        height: 400px;
      }
    }
  }
}

@include max-width(480px) {
  .main-container-map {
    grid-template-columns: 1fr;

    .map-container {
      .map, #mask-image, #prediction {
        width: 300px;
        height: 300px;
      }
    }
  }
}

@include max-width(360px) {
  .main-container-map {
    grid-template-columns: 1fr;

    .map-container {
      .map, #mask-image, #prediction {
        width: 200px;
        height: 200px;
      }
    }
  }
}

.leaflet-pane,
.leaflet-bottom,
.leaflet-tile-container {
  z-index: var(--map);
}

.leaflet-control-zoom {
  border: none;
  opacity: 0.9;
}

.leaflet-control-zoom-in {
  background-color: var(--w-color);
  border-radius: 5px 5px 0 0 !important;
}

.leaflet-control-zoom-out {
  background-color: var(--w-color);
  border-radius: 0 0 5px 5px !important;
}

.leaflet-bottom {
  display: none;
}